@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model VidlyApp.ViewModels.MoviesViewModel

<h2>@Model.Movie.Name</h2>

<ul>
    <li>Genre: @Model.Movie.Genre.Name</li>
    <li>Release Date: @Model.Movie.ReleaseDate.ToShortDateString()</li>
    <li>Date Added: @Model.Movie.DateAdded.ToShortDateString()</li>
    <li>Number in Stock: @Model.Movie.NumberInStock</li>
</ul>
